#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define DEFAULT 0
#define SECONDARY 1
#define TERTIARY 2
#define BTBOOT 3

#define NONE 0

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&mo SECONDARY>, <&kp LWIN>, <&to BTBOOT>;
        };
    };

    macros {
        CTRLC: ctrl_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C &kp V>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

        bindings = <
        &kp MINUS   &kp ASTRK   &kp FSLH    &td0
        &kp PLUS    &kp KP_N9       &kp KP_N8       &kp KP_N7
                    &kp KP_N6       &kp KP_N5       &kp KP_N4   
        &kp KP_ENTER     &kp KP_N3       &kp KP_N2       &kp KP_N1
                    &kp DOT     &kp KP_N0 
            >;
        };

        secondary_layer {

        bindings = <
        &kp EQUAL   &kp RPAR   &kp LPAR   &none
        &none   &none   &mo TERTIARY   &none
                &none   &none   &kp F4  
        &none   &none   &none   &none
                &kp LC(V)   &kp LC(C)
            >;
        };

        tertiary_layer {

        bindings = <
        &none   &none   &none   &none
        &none   &none   &none   &none
                &none   &none   &none  
        &none   &none   &none   &none
                &kp LC(LS(V))   &none
            >;
        };

        btboot_layer {

        bindings = <
        &bootloader   &bt BT_CLR_ALL   &none   &none
        &none   &none   &none   &none
                &none   &bt BT_SEL 4   &bt BT_SEL 3  
        &to DEFAULT   &bt BT_SEL 2   &bt BT_SEL 1   &bt BT_SEL 0
                &none   &none 
            >;
        };
    };
};